.layout{
  margin-top: 60px;
}
.layout_content{
  display: flex;
  justify-content: space-between;
  .layout_left{
    width: 694px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    .layout_nav{
      border-bottom: 1px solid var(--border-color);
      overflow: hidden;
      position: sticky;
      top: 50px;
      z-index: 50;
      background-color: white;
      a{
        margin: 0 20px;
        line-height: 58px;
        display: block;
        float: left;
        &.active{
          color: var(--theme-color);
        }
        &:hover{
          color: var(--theme-color);
        }
      }
    }
  }
  .layout_right{
    width: 296px;
    height: 200px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    position: sticky;
    top: 60px;
  }
}